/* h3{
    color: blue;
    
} */
* {
  margin: 0;
  padding: 0;
}
.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(198, 198, 198);
}
.company img {
  height: 80px;
  width: auto;
}
.companyContainer {
  display: flex;
  background: aquamarine;
  flex-wrap: wrap;
}
.companyContainer > div {
  font-size: 30px;
  margin: 20px;
  padding: 5px;
}
