* {
  margin: 0;
  padding: 0;
}
nav {
  background: #7ecb6c;
}
main {
  min-height: calc(100vh - 120px);
  background: aquamarine;
}
.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 200px;
}
.company img {
  height: 80px;
  width: auto;
}
.company p {
  font-size: 1rem;
  text-align: center;
}
.companyContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.companyContainer > div {
  font-size: 30px;
  margin: 20px;
  padding: 5px;
}
