<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" type="text/css" href="/css/companies.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.style.css" />
    <title>Companies</title>
  </head>

  <body id="home_bg">
    <div class="blurBG"></div>
    <%- include("./partials/navbar.ejs") %>
    <main class="mainContainer">
      <div class="blurBG_2"></div>
      <div class="companyContainer">
        <div
          data-tilt
          data-tilt-max="20"
          data-tilt-speed="1000"
          data-tilt-perspective="500"
          class="companyInnerContainer"
        >
          <div class="company">
            <img src="assets/companies/ACI.png" />
            <p>ACI Limited.</p>
          </div>
        </div>
        <div
          data-tilt
          data-tilt-max="20"
          data-tilt-speed="1000"
          data-tilt-perspective="500"
          class="companyInnerContainer"
        >
          <div class="company">
            <img src="assets/companies/Popular.png" />
            <p>Popular Pharmaceuticals Ltd.</p>
          </div>
        </div>
        <div
          data-tilt
          data-tilt-max="20"
          data-tilt-speed="1000"
          data-tilt-perspective="500"
          class="companyInnerContainer"
        >
          <div class="company">
            <img src="assets/companies/Square.png" />
            <p>Square Pharmaceuticals PLC.</p>
          </div>
        </div>
        <div
          data-tilt
          data-tilt-max="20"
          data-tilt-speed="1000"
          data-tilt-perspective="500"
          class="companyInnerContainer"
        >
          <div class="company">
            <img src="assets/companies/IBN Sina.png" />
            <p>IBN SINA Pharmaceutical</p>
          </div>
        </div>
        <div
          data-tilt
          data-tilt-max="20"
          data-tilt-speed="1000"
          data-tilt-perspective="500"
          class="companyInnerContainer"
        >
          <div class="company">
            <img src="assets/companies/Aristopharma.png" />
            <p>Aristopharma Ltd.</p>
          </div>
        </div>
        <div
          data-tilt
          data-tilt-max="20"
          data-tilt-speed="1000"
          data-tilt-perspective="500"
          class="companyInnerContainer"
        >
          <div class="company">
            <img src="assets/companies/Renata.png" />
            <p>Renata Limited.</p>
          </div>
        </div>
        <div
          data-tilt
          data-tilt-max="20"
          data-tilt-speed="1000"
          data-tilt-perspective="500"
          class="companyInnerContainer"
        >
          <div class="company">
            <img src="assets/companies/Pacific.png" />
            <p>Pacific Pharmaceuticals Ltd.</p>
          </div>
        </div>
        <div
          data-tilt
          data-tilt-max="20"
          data-tilt-speed="1000"
          data-tilt-perspective="500"
          class="companyInnerContainer"
        >
          <div class="company">
            <img src="assets/companies/Eskayef.png" />
            <p>Eskayef Pharmaceuticals Ltd.</p>
          </div>
        </div>
        <div
          data-tilt
          data-tilt-max="20"
          data-tilt-speed="1000"
          data-tilt-perspective="500"
          class="companyInnerContainer"
        >
          <div class="company">
            <img src="assets/companies/Incepta.png" />
            <p>Incepta Pharmaceuticals Ltd.</p>
          </div>
        </div>
        <div
          data-tilt
          data-tilt-max="20"
          data-tilt-speed="1000"
          data-tilt-perspective="500"
          class="companyInnerContainer"
        >
          <div class="company">
            <img src="assets/companies/Biopharma.png" />
            <p>Biopharma Ltd.</p>
          </div>
        </div>
        <div
          data-tilt
          data-tilt-max="20"
          data-tilt-speed="1000"
          data-tilt-perspective="500"
          class="companyInnerContainer"
        >
          <div class="company">
            <img src="assets/companies/Beximco.png" />
            <p>Beximco Pharmaceuticals Ltd.</p>
          </div>
        </div>
        <div
          data-tilt
          data-tilt-max="20"
          data-tilt-speed="1000"
          data-tilt-perspective="500"
          class="companyInnerContainer"
        >
          <div class="company">
            <img src="assets/companies/Acme.png" />
            <p>ACME Laboratories Ltd.</p>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="/js/vanilla-tilt.js"></script>
  </body>
</html>
