<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" type="text/css" href="/css/medicineCategories.css" />
    <title>Companies</title>
  </head>

  <body>
    <%- include("./partials/navbar.ejs") %>
    <main>
      <section class="body_containar">
        <h2 class="discription">List of Available Dosage Forms</h2>
        <div class="containar">
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Bolus Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Bolus Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Buccal Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Capsule</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Cream</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Dispersible Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Gel</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Dental Gel</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Ear Drop</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Emulsion</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>IM Injection</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>IV Infusion</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Lotion</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Oral Gel</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Pen Needle</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>OROS Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Suspension</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Respirator Solution</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Bolus Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Bolus Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Bolus Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Bolus Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Bolus Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Bolus Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Bolus Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
          <a href="MedicinesList2.html">
            <div class="list">
              <h4>Bolus Tablet</h4>
              <p>93 brand names</p>
            </div>
          </a>
        </div>
      </section>
    </main>
  </body>
</html>
