<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/payment/style.css" />
  <title>Payment</title>
</head>

<body>
  <div class="wrapper">
    <form>
      <div class="container">
        <h1>order now</h1>
        <div class="information-container">
          <div class="information">
            <h3>information</h3>
            <p>Name</p>
            <input type="text" />
            <p>contact number</p>
            <input required type="text" />
            <p>address</p>
            <textarea required name="address" class="address"></textarea>
          </div>
          <div class="order-list">
            <h3>list of order</h3>
            <ul>
              <li>napa: 1box * 20tk</li>
              <li>napa: 1box * 20tk</li>
              <li>napa: 1box * 20tk</li>
              <li>napa: 1box * 20tk</li>
              <li>napa: 1box * 20tk</li>
            </ul>
            <div class="price">
              <p>total =100 taka</p>
            </div>
          </div>
        </div>
        <div class="payment">
          <button type="submit">conform order</button>
        </div>
      </div>
    </form>
  </div>
</body>

</html>