* {
  margin: 0;
  padding: 0;
}
.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateZ(20px);
}
.company img {
  height: 80px;
  width: auto;
}
.company p {
  font-size: x-small;
  text-align: center;
}
.companyContainer {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.companyInnerContainer {
  width: 200px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.45);
  transform-style: preserve-3d;
  cursor: pointer;
}
