* {
  margin: 0;
  padding: 0;
}
nav {
  background: #7ecb6c;
}

.body_containar {
  padding: 25px 90px 40px;
}

.title {
  background-color: rgba(221, 160, 221, 0.171);
  max-width: 600px;
  padding-left: 15px;
  font-size: x-large;
  color: #435b66;
  margin-left: 10px;
  position: relative;
}
.title::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 8px;
  left: 0;
  background: #435b66;
}
.containar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}
.list {
  padding: 20px 0px;
  padding-left: 10px;
  width: auto;
  transition: 0.12s;
}
.list:hover {
  background-color: aqua;
}
.list:hover > h4 {
  color: #4ab832;
  filter: blur(0.5px);
}
.list > h4 {
  font-size: large;
  color: #7ecb6c;
}
.list > p {
  font-size: smaller;
  font-weight: lighter;
  color: inherit;
}
a {
  color: inherit;
}

@media only screen and (max-width: 769px) {
  .body_containar {
    padding: 15px;
  }
  .containar {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 426px) {
  .body_containar {
    padding: 15px;
  }
  .containar {
    grid-template-columns: 1fr;
  }
}
