/* medicine list */
.body_containar {
  margin: 25px 100px 40px;
}
.discription {
  background-color: plum;
  padding-left: 50px;
  width: 600px;
}
.containar {
  margin-top: 20px;
  height: auto;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.list {
  height: 80px;
  width: auto;
}
.list:hover {
  background-color: aqua;
}
