@font-face {
  font-family: "Hunters";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../font/Hunters.otf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../font/Poppins-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: none;
  box-sizing: border-box;
  font-family: "Poppins";
  letter-spacing: 0.1225rem;
}
body {
  font-family: montserrat;
}
#home_bg {
  height: 100vh;
  background-image: url(../assets/bg_3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#menu_container {
  display: none;
}
.nav_container {
  /* position: absolute; */
  height: 120px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}
.nav-logo {
  font-family: "Hunters";
  font-size: 5em;
  /* margin-left: 200px; */
  color: white;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.554);
}
.nav_container ul {
  display: flex;
  gap: 30px;
  /* float: right; */
  list-style: none;
  /* margin-right: 40px; */
}
.nav_container ul li {
  position: relative;
  /* display: inline-block; */
  /* margin-right: 30px; */
}
.nav_container ul li a {
  font-size: 1em;
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.554);
}
.nav_container ul li a::before {
  display: inline-block;
  position: absolute;
  bottom: 0;
  content: "";
  height: 3px;
  width: 0%;
  background: white;
  transition: 0.25s ease-out;
}
.nav_container ul li a:hover::before {
  width: 100%;
}

/* search box */
.search-bar-container {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.search-box {
  width: 600px;
  display: block;
  margin: auto;
  outline: none;
  border: none;
  padding: 15px 20px;
  font-size: 1.25em;
  border-radius: 50px;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.14);
}

@media screen and (max-width: 768px) {
  .nav-logo {
    font-size: 4em;
  }
  .search-box {
    width: 80%;
  }
  #menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #menu_container svg {
    transform: scale(1.2);
    color: white;
  }
  .nav_container {
    width: 100%;
    height: 65px;
    padding: 0 20px;
    justify-content: space-between;
  }
  .nav_container ul {
    display: none;
  }
}
