@font-face {
  font-family: "Hunters";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../font/Hunters.otf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../font/Poppins-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: none;
  box-sizing: border-box;
  font-family: "Poppins";
  letter-spacing: 0.1225rem;
}
body {
  font-family: montserrat;
}
#home_bg {
  height: 100vh;
  background-image: url(../assets/bg_2.png);
  background-size: cover;
  background-position: center;
}
nav {
  height: 120px;
  width: 100%;
  display: flex;
  /* position: absolute; */
  justify-content: space-between;
  align-items: center;
  background: none;
}
.nav-logo {
  font-family: "Hunters";
  font-size: 5rem;
  margin-left: 200px;
  color: white;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.554);
}
nav ul {
  float: right;
  margin-right: 40px;
}
nav ul li {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a {
  font-size: 1.25rem;
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.554);
}
nav ul li a::before {
  display: inline-block;
  position: absolute;
  bottom: 0;
  content: "";
  height: 3px;
  width: 0%;
  background: white;
  transition: 0.25s ease-out;
}
nav ul li a:hover::before {
  width: 100%;
}

/* search box */
.search-bar-container {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.search-box {
  width: 600px;
  display: block;
  margin: auto;
  outline: none;
  border: none;
  padding: 15px 20px;
  font-size: 1.25rem;
  border-radius: 50px;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.14);
}

@media screen and (max-width: 767px) {
  .search-box {
    width: 80%;
  }
}
